
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.glyphicon {
    width: 14px;
    color: $brand-primary;
    margin-left: 5px;
    cursor: pointer;
}

[v-cloak] {
  display: none;
}

.pointer {
    cursor: pointer
}

.not-allowed {
    cursor: not-allowed
}